.App {
  text-align: center;
  overflow: hidden;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .row {
  display: flex;
}

.column {
  flex: 100%;
}

.top {
    background-color: #282c34;
    height: 100%;
}

.bottom {
    background-color: #282c34;
    height: 52.49%;
    position: absolute;
    bottom: 0;
}

.left-col {
    background-color: #282c34;
    position:absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    right: 100%;
    left: 0;
    top: 0;
    bottom: 30px;
    align-items: center;
    justify-content: center;   
    width: 50%;
    height: 100%; 
}

.right-col {
    background-color: #282c34;
    position:absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 30px;
    align-items: center;
    justify-content: center;   
    width: 50%;
    height: 100%; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
